@font-face{
    font-family: got;
    src: url(/fonts/Game\ of\ Thrones.ttf);
}
body {
    margin: 0;
font-family: got, sans-serif;
}
.flex {
    display: flexbox;
}
#top-image {
    background: url(/assets/site/mapblue.jpg) -25px -50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
    background-size: calc(100% + 50px);
  }
.content--view{
    background: inherit;
    width: 75vw;
    position: relative;
    height: 100vh;
    flex-flow: row wrap;
    display: flex;
}
.content--searchbar{
    background: radial-gradient(#666,#222);
    width: 25vw;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    z-index: 1;
}
.searchInput{
    align-items: flex-end;
    font-family: FontAwesome;
}
.content--searchbar-title{
    font-size: auto;
    font-optical-sizing: auto;
    color:#ffffff;
    letter-spacing: 2px;
}
.icon-search {
    position: relative;
  z-index: 1;
  left: -25px;
  top: 1px;
  color: #7B7B7B;
  cursor: pointer;
  width: 0;
}
.fa-search { 
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
} 
.input-icons { 
    position: absolute;
    bottom: 30px;
    width: 100%; 
    margin-bottom: 10px; 
} 
.icon { 
    
    padding: 10px; 
    color: #FF0000; 
    min-width: 10px; 
    
    z-index: 1;
    border: solid 1px;
    background-color: #bbbbbb;
} 
.searchInput { 
    border-radius: 10px;
    justify-content: center;
    width: 50%; 
    padding: 10px; 
    text-align: center; 
} 
.display--none {
    display: none;
}
.notFound {
    color: #FF0000;
}
.got_name {
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: white 5px;
    margin: 10px;
    font-size: 9px;
    font-optical-sizing: auto;
    color:#000000;
    letter-spacing: 2px;
}
.main_container_divs {
    margin: 24px;
    align-items: center;
    justify-content: flex-start;
    grid-row: auto;
    flex-wrap: wrap;
    text-align: center;
    text-shadow: 3px;
}
.fa-chevron-right {   
    padding: 8px;
    width: 8%;
    justify-content: flex-start;  
    text-align: center;
    color: #ffffff;
    border: solid 2px #ffffff;
    border-radius: 4px;
}
.content--view img {
    width: 75px;
}
.input-icons{
    
  justify-content: space-around;
}
.one{
    align-items: center;
    justify-content: flex-start;
    width: 9vw;
    height: 16vh;
}